#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'https://domain-anda.com'
app.forceGlobalSecureRequests = false
app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = penjara
database.default.username = spk_user
database.default.password = 'password_anda'
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_general_ci

#--------------------------------------------------------------------
# ENCRYPTION
#--------------------------------------------------------------------

# Generate dengan: php spark key:generate
# encryption.key =

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------

session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
session.savePath = WRITEPATH . 'session'
session.matchIP = false
session.timeToUpdate = 300
session.regenerateDestroy = false

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------

logger.threshold = 4
logger.handlers = ['CodeIgniter\Log\Handlers\FileHandler']

#--------------------------------------------------------------------
# SECURITY
#--------------------------------------------------------------------

security.csrfProtection = 'session'
security.tokenRandomize = false
security.redirect = true
security.samesite = 'Lax'

#--------------------------------------------------------------------
# TOOLBAR
#--------------------------------------------------------------------

toolbar.enable = false

#--------------------------------------------------------------------
# CACHE
#--------------------------------------------------------------------

cache.handler = 'file'
cache.savePath = WRITEPATH . 'cache/'
cache.prefix = 'ci4_'

#--------------------------------------------------------------------
# IMAGES
#--------------------------------------------------------------------

images.imageLibrary = 'gd2'
images.quality = 90
